<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:body>
	<ui:composition template="WEB-INF/template/layout.xhtml">
		<ui:define name="content">
			<h1>Bean info page</h1>
			<h:form>
				<p:dataTable var="bean" value="#{beanInfoBean.beanInfoList}">
					<p:column headerText="Bean name">
						<h:outputText value="#{bean.beanName}" />
					</p:column>

					<p:column headerText="Bean id">
						<h:outputText value="#{bean.applicationId}" />
					</p:column>

				</p:dataTable>
			</h:form>
			&nbsp;
			<p:terminal prompt="cdidemo $"
				commandHandler="#{terminalController.handleCommand}" height="480"
				width="640" welcomeMessage="BeanInfo commands" />
		</ui:define>
	</ui:composition>

</h:body>
</html>