<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:body>
	<ui:composition template="WEB-INF/template/layout.xhtml">
		<ui:define name="content">
			<h1>CDI Demo start page</h1>
			<h:form>
				<p:panelGrid columns="2">
					<p:outputLabel value="Application ID:" />
					<p:outputLabel value="#{applicationBean.applicationId}"></p:outputLabel>
					<p:outputLabel value="Application content" />
					<p:inputText value="#{enterBean.applicationText}"></p:inputText>
					<p:outputLabel value="Session content" />
					<p:inputText value="#{enterBean.sessionText}"></p:inputText>
					<p:outputLabel value="" />
					<p:commandButton value="Submit" ajax="false"
						actionListener="#{enterBean.save}" />
				</p:panelGrid>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>