<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="css/default.css" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<title>CDI Demo</title>
</h:head>

<h:body>
	<p:layout id="layout" fullPage="true">
		<p:layoutUnit position="west" width="250">
			<p:menu>
				<p:submenu label="Menu">
					<p:menuitem value="Home" outcome="/index" icon="ui-icon-home" />
					<p:menuitem value="Bean info" outcome="/beanInfo"
						icon="ui-icon-star" />


				</p:submenu>
			</p:menu>
		</p:layoutUnit>
		<p:layoutUnit position="center">
			<ui:insert name="content">
			</ui:insert>
		</p:layoutUnit>
	</p:layout>
</h:body>
</html>